.modal-user {
  .content-body {
    .red {
      color: red;
    }
  }
  .modal-header-custom .btn-close {
    position: absolute;
    right: 20px; /* Dịch chuyển closeButton sang phải */
    top: 10px;
  }
}

.modal-delete{
      .modal-header-custom .btn-close {
            position: absolute;
            right: 20px; /* Dịch chuyển closeButton sang phải */
            top: 10px;
          }
}

/* Chrome, Safari, Edge, Opera */
//hide arrow input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//
.manage-user-container {
  i {
    padding-right: 7px;
  }

  .action {
    .refresh {
      margin-right: 10px;
    }
  }
  .user-body {
    .edit {
      color: orange;
      cursor: pointer;
    }
    .delete {
      color: red;
      cursor: pointer;
    }
  }
}
