.doctor-schedule-container {
  border-right: 1px solid #ddd;
  height: 100%;
  .all-schedule {
    select {
      border-bottom: 1px solid #ddd;
      border-top: none;
      border-right: none;
      border-left: none;
      outline: none; // viền đen mỗi khi chọn select
      cursor: pointer;
      padding: 10px 0;
      color: #337ab7;
      font-weight: 500;
    }
  }

  .all-available-time {
    .text-calendar {
      color: #333;
      margin: 10px 0;
      span {
        svg {
          margin-right: 10px;
        }
        text-transform: uppercase;
        font-weight: 600;
      }
      // border: 1px solid red;
    }
    .time-content {
      .time-content-btns {
        display: flex;
        gap: 15px;
        flex-wrap: wrap; // tự động xuống dòng

        button {
          padding: 8px 15px;
          font-weight: 600;
          color: #333;
          &:hover {
            background-color: #45c3d2;
          }
        }

        .btn-vi {
          min-width: 120px;
        }
        .btn-en {
          min-width: 170px;
        }

        .no-schedule {
          font-style: italic;
          font-size: 15px;
        }
      }

      .book-free {
        margin-top: 10px;
      }
    }
  }
}
